p:first-letter{
      font-size: 300%;
      color: Aquamarine;
      font-family: Papyrus;
      font-weight:bold;
    
p:first-line{
      color:lightCyan;
      }
      
}
p{
      font-family: Papyrus;
      text-align:center;
  }
h1{
      font-family: Papyrus;
      font-size: 350%;
      Font-weight:bold;
      text-align:center;
}
