  h1{

            color:DeepPink

          }

        li{

            color:DeepSkyBlue

          }

        p{

            color:DarkViolet

         }
      ul{
            color: green;
         }
